/* App.css */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 70px;
}

h1 {
  margin-bottom: 25px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  align-items: center; /* Align text boxes to the center */
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}

/* Add bold styling to specific labels */
label[for="name"],
label[for="department"],
label[for="contactnum"],
label[for="email"],
label[for="dob"] {
  font-weight: bold;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

div > i {
  color: #ff0000;
  font-style: italic;
  margin-top: 20px;
}